name: Metrics

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    - push: {branches: ["main"]}

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: lowlighter/metrics@latest
      with:
        user: crypt0grapher
        filename: metrics.svg
        token: ${{ secrets.METRICS_TOKEN }}
